<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to my website</h1>

    <nav>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <h1>Also Check out</h1>

    <div class="works-container">
        <!-- FIXED PATH BELOW -->
        <a href="/works/uppercase" class="work-btn">toUpperCase</a>
        <a href="/works/area/circle" class="work-btn">Area of a Circle</a>
        <a href="/works/area/triangle" class="work-btn">Area of a Triangle</a>
        <a href="/works/suspension-checker" class="work-btn">Class Suspension Detector</a>
	<a href="/works/linked-list" class="work-btn">Linked List Demonstration</a>
    </div>
</body>
</html>